# macOS creates
.DS_Store

# IntelliJ apps create
.idea/

# Eclipse creates
.cproject
.project
.settings/

# Microsoft Visual Code creates
.vscode/

# Other
*.log
*.tar
*.tar.gz

# SNAP 7.x
src/main/docker/esa-snap_all_unix_7_x.sh
